$className: "cart__title";

.#{$className} {
  font-family: $primaryFont;
  color: var(--secondary-font-color);
  @include reset();
  @include font-style($weight: 400, $size: 2.5rem, $height: 120%);
  padding-bottom: 96px;
}
