$className: "popup";

.#{$className} {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 10px;
  background: var(--secondary-bg-color);
  min-height: 95%;
  padding: 10px;
}
