$className: "popup__text";

.#{$className} {
  font-family: $primaryFont;
  color: var(--secondary-font-color);
  @include reset();
  @include font-style($weight: 400, $size: 1rem, $height: 120%);
  padding-top: 20px;
}
