$className: "header__cart-counter";

.#{$className} {
  font-family: $primaryFont;
  color: var(--secondary-font-color);
  @include font-style($weight: 400, $size: 1.5rem, $height: 120%);
  padding: 0px 20px;
  text-align: center;
}
